.about{
	background-color: $mainBlue;
	display: flex;
	flex-direction: column;
	color: $white;
	align-items: center;
	justify-content: center;

	/*--
	@mixin atSmall{
	display: flex;
	flex-direction: row;
	height: 400px;	
	align-items: center;
	justify-content: center;	
	}--*/

	@mixin atMedium{
	display: flex;
	flex-direction: row;
	height: 300px;	
	align-items: center;
	justify-content: center;
	}
	
	h1{
	font-size: 2em;
	font-weight: 100;
	padding: 15px;

	@mixin atMedium{	
	font-size: 3em;
	font-weight: 200;
	transform: rotate(270deg);
	}
	}

	&__bio{
	padding: 20px;
	line-height: 1.5;
	height: 300px;
	font-weight: 200;
	font-size: 1.2em;
	text-align: center;
	margin-bottom: 30px;

	@mixin atSmall{
	flex: 3 0 0;
	padding: 20px;
	line-height: 1.5;
	height: 250px;
	font-weight: 200;
	font-size: 1.2em;
	text-align: center;	
	}

	@mixin atMedium{
	flex: 3 0 0;
	padding: 25px 25px 0 50px;
	margin-right: 25px;
	line-height: 1.5;
	height: 200px;
	font-weight: 200;
	font-size: 1.2em;
	text-align: center;	
	}
	}

	img{
		flex: 1 0 0;
		display: block;
		border-radius: 30%;
		min-width: 250px;
		height: 250px;
		border: 2px solid white;

		@mixin atMedium{
		flex: 1 0 0;
		display: block;
		border-radius: 5%;
		min-width: 350px;
		height: 350px;
		border: 2px solid white;
		margin: 5px;
		}
	}

	&__2{

	h1{
	font-size: 2em;
	font-weight: 100;
	padding:15px;

	@mixin atMedium{	
	font-size: 3em;
	font-weight: 200;
	transform: rotate(270deg);
	padding: 0px;
	}
	}


	&__skillz{
		background-color: $lightBlue;
		text-align: center;
		font-size: 1.2em;
		padding: 30px 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: $darkBlue;

		@mixin atMedium{
		flex: 3 0 0;
		min-width: 200px;
		height: 300px;
		margin: 5px;
		background-color: $lightBlue;
		text-align: center;
		font-size: 1.5em;
		padding: 30px 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: $darkBlue;	
		}
	}

	&__courses{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-weight: 100;
		height: 250px;
		letter-spacing: .5px;


		@mixin atMedium{
		flex: 4 0 0;
		background-color: $mainBlue;
		letter-spacing: .5px;
		text-align: center;
		font-size: 1.2em;
		font-weight: 200;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: $white;	
	}
	}

	h3{
		font-weight:400;
		font-size: 1.3em;
	}

	p{
	line-height: 1.2;
	font-weight: 100;
	font-size: 1.1em;
	text-align: center;
	margin: 0 20px;

	@mixin atMedium{
	line-height: 1;
	font-weight: 200;
	font-size: 1em;
	margin: 0 20px;
	}

	}

}



}
