.about{
	background-color: $mainBlue;
	display: flex;
	flex-direction: column;
	color: $white;
	align-items: center;
	justify-content: center;
	font-size: .9em;

	/*--
	@mixin atSmall{
	display: flex;
	flex-direction: row;
	height: 400px;	
	align-items: center;
	justify-content: center;	
	}--*/

	@mixin atMedium{
	display: flex;
	flex-direction: row;
	height: 300px;	
	align-items: center;
	justify-content: center;
	}
	
	h2{
	font-size: 2em;
	font-weight: 100;
	padding: 15px;

	@mixin atMedium{	
	font-size: 3em;
	font-weight: 200;
	transform: rotate(270deg);
	}
	}

	&__bio{
	padding: 20px;
	line-height: 1.5;
	height: 400px;
	font-weight: 200;
	font-size: 1.2em;
	text-align: center;
	margin-bottom: 30px;

	@mixin atXSmall{
	flex: 3 0 0;
	padding: 20px;
	line-height: 1.5;
	height: 300px;
	font-weight: 200;
	font-size: 1.2em;
	text-align: center;	
	}

	@mixin atSmall{
	flex: 3 0 0;
	padding: 10px;
	line-height: 1.5;
	height: 250px;
	font-weight: 200;
	font-size: 1.2em;
	text-align: center;	
	}

	@mixin atMedium{
	flex: 3 0 0;
	padding: 20px;
	line-height: 1.3;
	height: 225px;
	font-weight: 200;
	font-size: 1em;
	text-align: center;	
	}

	@mixin atLarge{
	flex: 3 0 0;
	line-height: 1.4;
	height: 215px;
	font-weight: 220;
	font-size: 1.1em;
	text-align: center;	
	}

	@mixin atXLarge{
	flex: 3 0 0;
	line-height: 1.3;
	height: 230px;
	font-weight: 200;
	font-size: 1.3em;
	text-align: center;	
	margin: 0 10px;
	}
	}	

	img{
		flex: 1 0 0;
		display: block;
		border-radius: 30%;
		min-width: 250px;
		height: 250px;
		border: 2px solid white;

		@mixin atMedium{
		flex: 1 0 0;
		display: block;
		border-radius: 5%;
		min-width: 250px;
		height: 250px;
		border: 2px solid white;
		margin: 5px;
		}

		@mixin atMedium{
		flex: 1 0 0;
		display: block;
		border-radius: 5%;
		min-width: 350px;
		height: 350px;
		border: 2px solid white;
		margin: 5px;
		}
	}

	&__work{

	h1{
	font-size: 2em;
	font-weight: 100;
	padding:15px;

	@mixin atMedium{	
	font-size: 3em;
	font-weight: 200;
	transform: rotate(270deg);
	padding: 0px;
	}
	}


	&__skillz{
		background-color: $lightBlue;
		text-align: center;
		font-size: 1.2em;
		padding: 30px 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: $darkBlue;

		@mixin atMedium{
		flex: 3 0 0;
		min-width: 200px;
		height: 300px;
		margin: 5px;
		background-color: $lightBlue;
		text-align: center;
		font-size: 1.5em;
		padding: 30px 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: $darkBlue;	
		}
	}

	&__courses{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-weight: 100;
		height: 210px;
		letter-spacing: .6px;
		padding: 10px;


		@mixin atMedium{
		flex: 4 0 0;
		background-color: $mainBlue;
		letter-spacing: .8px;
		text-align: center;
		font-size: 1.2em;
		font-weight: 200;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: $white;
		padding-left: 5px;	
		padding-right: 5px;
	}
	}

	h3{
		font-weight:300;
		font-size: 1.5em;
		margin: 10px;
	}

	p{
	line-height: 1.2;
	font-weight: 100;
	font-size: 1.1em;
	text-align: center;
	margin: 0 20px;

	@mixin atMedium{
	line-height: 1;
	font-weight: 200;
	font-size: 1em;
	margin: 0 20px;
	}

	}

	ul{
		display: flex;
		flex-direction: column;

		@mixin atSmall{
		display: flex;
		flex-direction: row;
		justify-content: center;
		list-style-type:none;  
		margin: 0;
		padding: 0;
		}
	}

	li{
		padding: 20px;

		@mixin atMedium{
		font-size: .8em;
		}
	}

	a{
		text-decoration: none;
	}

	a:visited{
		color: white;
	}

	a:hover{
		color: $lightBlue;
	}

}



}
