.btn{
	background-color: $darkBlue;
	font-weight: 600;
	color: green;
	letter-spacing: 1px;
	font-size: .75em;
	border: 1px solid $darkBlue;
	border-radius: 4px;

	a{
		color: $white;
		text-decoration: none;
		width: 100%;
	}

	
	&__padding{
		margin-top: 20px;
		padding: 10px;
	}

	&__survey{
		font-size: 1.3em;
		padding: 10px;
		font-weight: 600;
		margin: 20px;
		text-align: center;
	}

	button:visited{ 
  	color: $white;
  	}	


}

.btn:hover{
	background-color: $mainBlue;
}