.btn{


	&__send{
		width: 270px;
		border: 1px solid gray;
		text-align: center;
		padding: 10px;
		margin-bottom: 20px;

		@mixin atMedium{
		width: 350px;
		border: 2px solid gray;
		text-align: center;
		color: $darkBlue;
		font-size: .9em;
		padding: 10px;
		margin: 10px auto 20px;
		}
	}


		a{
		display: block;
		color: black;
		text-decoration: none;
		width: 100%;
	}



}