.btn{

	&__nav{
			border: 1px solid rgb(100,109,124);	
			font-size: 20px;	

			a{
				color: white;
				background: transparent;
				text-decoration: none;
			}
		}

		&__nav:hover{
			background-color: #49505F;
		}


	&__color{
		padding: 10px 30px 10px 30px;
		border-radius: 5px;
		width: 175px;
		text-align: center;
		margin: auto;
		transition: all .3 ease;
		font-size: 1.1rem;

		a{
			color: white;
			background: transparent;
			text-decoration: none;
		}
	
		&-blue{
			background-color: #1686C1;
		}

		&-green{
			background-color: #178A27;
		}

		&-red{
			background-color: #852406;
		}
		}	

	
		&__color-green:hover{
			background-color: #449D44;
		}

		&__color-blue:hover{
			background-color: #31B0D5;
		}

		&__color-red:hover{
			background-color: #C9302C;
		}


	&__style2{
			border-radius: 10px;
			width: 155px;
			text-align: center;
			transition: all .3 ease;
			font-size: 1.1rem;	
			background-color: white;
			border: 1px solid #CCCCCC;

			a{
			display: block;
			padding: 10px 30px 10px 30px;
			color: #666666;
			text-decoration: none;
			}

			a:hover{
				color: #235285;
			}
	}

	&__marLeft{
				margin-left: 60%;
			}

	&__style2-small{
		width: 122px;
		margin: auto;
	}

	&__style2-margin-left{
		margin-left: 5px;
	}

	&__style2:hover{
			background-color: #E6E6E6;
			color: #23527C;
	}

	&__style3{
			border-radius: 10px;
			width: 105px;
			text-align: center;
			transition: all .3 ease;
			font-size: 18px;	
			background-color: black;
			border: 1px solid #CCCCCC;
			font-weight: 400;

			a{
			display: block;
			color: white;
			text-decoration: none;	
			width: 105px;
			padding: 10px 30px;
			}	

			a:hover{
			color: black;
			}

	}

	div:hover{
		color: black !important;
		background-color: white; 
	}
		


	&__style3-small{
		width: 105px;
		margin: left;
	}

	&__style3:hover{
			background-color: white;
			color: black;
	}
}