.contact{
	display: flex;
	flex-direction: column;
	width: 75%;
	height: 625px;
	margin: 0 auto 0;

	@mixin atSmall{
	height: 450px;
	}

	@mixin atMedium{
	display: flex;
	flex-direction: column;
	width: 50%;
	height: auto;
	margin: 15px auto 15px;
	}

	p{
		font-size: 1.1em;
		padding: 10px;
		text-align: center;
		font-weight: 300;
		letter-spacing: .5px;
		line-height: 1.5;
	}

&__thanks{
		font-size: 1.3em;
		padding: 10px;
		font-weight: 600;
		color: $darkBlue;
		letter-spacing: .5px;
		text-align: center;
	}

	form{
	width: 350px;
	margin-left: 35px;

	@mixin atMedium{
	width: 500px;
	margin-left: 0px;
	
	}
	}

	fieldset{
		border: 0 none;
		margin: auto;

		@mixin atMedium{

		}

	}

	fieldset:first-child{
		margin-top: 20px;
	}

	label{
		font-size: 1em;
	}

	input{
		width: 270px;
		height: 40px;
		padding: 10px;
		font-size: 1em;
		border: solid 2px gray;
  		transition: border 0.3s;
		

		@mixin atMedium{
		width: 100%;
		height: 20px;
		font-size: .9em;
		font-weight: 300;
		border: solid 2px gray;
		}	
	}

	input:focus{
	  	outline: solid 1px #969696;
		}

	textarea{
		max-width: 85%;
		min-width: 85%;
		height: 150px;
		padding: 10px;
		font-size: 1em;
		margin-bottom: 10px;
		border: solid 2px gray;
  		transition: border 0.3s;

  		@mixin atMedium{
  		min-width: 100%;
		height: 150px;
		padding: 10px;
		color: black;
		font-size: .9em;
		font-weight: 300;
		border: solid 2px gray;
  		transition: border 0.3s;	
  		}
	}

	textarea:focus { 
		outline: solid 1px #969696; 
	}​

input::-webkit-input-placeholder {
color: black !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: black !important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: black !important;  
}
 
input:-ms-input-placeholder {  
color: black !important;  
}

input::placeholder{
    color:black;
 }


textarea::-webkit-input-placeholder {
color: black !important;
}
 
textarea:-moz-placeholder { /* Firefox 18- */
color: black !important;  
}
 
textarea::-moz-placeholder {  /* Firefox 19+ */
color: black !important;  
}
 
textarea:-ms-input-placeholder {  
color: black !important;  
}

textarea::placeholder{
    color:black;
 }


}