.contact-form{
	max-width: 720px;
	position: relative;
	margin: auto;

	&__trans{
		background: rgba(255,255,255,.4);
		border-radius: 5px;
	}

	&__description{
		padding: 30px;
		text-align: center;
		line-height: 1.5;
		font-size: 1.025em;
		font-weight: 400;
	}

	&__form-group{
		margin-top: 20px;
	}

	&__form-control{
		display: block;
		width: 100%;
		padding: 6px 12px;
		font-size: 14px;
		height: 34px;
		margin-bottom: 20px;
		border: none;
		
		&__left{
			padding-right: 25px;

		}

		&__right{
			padding-left: 10px;
			height: 140px;
			overflow: auto;
			}

	}


input::-webkit-input-placeholder {
color: black !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: black !important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: black !important;  
}
 
input:-ms-input-placeholder {  
color: black !important;  
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #000;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #000;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #000;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #000;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #000;
}

}