.feature{
	background-color: #F2F2F2;
	
	&__words{
		padding: 0px 20px 35px 20px;
		margin: auto;
	}

	&__words-Xpadding{
		padding-bottom: 10px;
		padding-left: 10px;
		font-size: 1.1em;
		line-height: 1.5px;
	}

	img{
		width: 100%;
	}

}