.feature{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	&__title{
	font-size: 2em;
	color: $darkBlue;
	padding: 40px 0 0;


	@mixin atMedium{
	font-size: 2.5em;
	}
	}

	&__subtitle{
	text-align: center;
	color: $darkBlue;
	font-size: .8em;

	@mixin atSmall{
	font-size: 1em;
	}
	
	}


	&__section{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 10px;
	padding: 10px 30px;


	@mixin atSmall{		
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 25px;
	padding: 10px 50px;
	}
	
	@mixin atMedium{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border: 1px solid $darkBlue; 
	margin: 30px 60px;
	height: 300px;
	padding: 10px 30px;
	}
	
	}

	&__text-content{
		text-align: center;
		color: $darkBlue;
		padding: 0 25px;

		@mixin atMedium{
		padding: 0px 0px 30px 30px;	

		:first-child{
		padding: 10px 0;
		margin: 30px 0px 0px 0px;		
		};	
		}
	}

	h2:first-child{
		font-size: 1.3em;
		padding-top: 10px;
	};



	&__light{
		font-weight: 300;
		font-size: 1.4em;
	}

	button{
		background-color: $darkBlue;
		color: $white;
		font-weight: 300;
		letter-spacing: 1px;
		font-size: .75em;
		border: 1px solid $darkBlue;
		border-radius: 4px;
	}

	button:hover {
		background-color: $mainBlue;
}



	&__btn-padding{
		margin-top: 20px;
		padding: 10px;
	}

	img{
	margin-top: 25px;	
	width: 320px;	
	outline: 1px solid $darkBlue;	

	@mixin atSmall{	
	margin-top: 25px;	
	width: 350px;	
	outline: 1px solid $darkBlue;
}

	@mixin atMedium{
	flex: 1 0 0;
	width: 600px;
	display: block;
	margin-top: 0px;
	outline: 2px solid $darkBlue;
	}
	}


	&__footer-section{
		height: 60px;
		background-color: $mainBlue;
		color: $white;
	}

	&__navy{
		text-decoration: none;
		color: $lightBlue;
	}

	button.white:visited{ 
  	color: $white;
  }	

  	&__white{
  		color: $white;
  		text-decoration: none;
  	}


	


}
