*{
  border: 1px solid black;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 30px 150px 100px 100px 150px 150px 50px;
  text-align: center;
}
.one {
  grid-column: 3 / 5;
  grid-row: 1; 
}
.two { 
  grid-column: 1 / 7;
  grid-row: 2;
}
.three {
  grid-row: 3;
  grid-column: 1 / 3;
}
.description{
 grid-row: 3;
 grid-column: 3/7;
}
.four {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr ;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column: 1 / 7;
  grid-row: 4;
  grid-gap: 5%;
}
.p1{
  grid-column: 2 / 3;
  grid-row: 2;
}
.p2{
  grid-column: 2 / 3;
  grid-row: 3;
}
.p3{
  grid-column: 2 / 3;
  grid-row: 4;
}
.five {
  grid-column: 1 / 7;
  grid-row: 5;
}
.six {
  grid-column: 1/7;
  grid-row: 6;
}
.footer{
  grid-column: 1/7;
  grid-row: 7;
}